{% extends 'base.html' %}

{% block head %}
<link href="{{ url_for('static', filename='css/custom-access.css') }}" rel="stylesheet">
<!-- END OF ELEMENT 4 -->
<title>Reset Password | Hackblockchain</title>
{% endblock %}

{% block body %}
<form id="signInForm" action="{{ url_for('reset_password') }}" method="post">
    <section class="bg hero is-fullheight">
        <div class="hero-body">
            <div class="container pop-up">
                <div class="columns is-multiline has-text-centered">
                    {{ form.csrf_token }}
                    <div class="column is-12 has-text-left">
                        <h2 class="label">Password</h2>
                        {{ form.password(class='input is-medium-desktop',
                        placeholder='Password') }}
                        {% for error in form.password.errors %}
                        <span id="passwordInputHelp" class="help is-danger">
                          {{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="column is-12 has-text-left">
                        <h2 class="label">Repeat Password</h2>
                        {{ form.confirm_password(class='input is-medium-desktop',
                        placeholder='Repeat Password') }}
                        {% for error in form.password.errors %}
                        <span id="passwordInputHelp" class="help is-danger">
                          {{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="column is-12 is-condensed">
                        <input type="submit" class="button is-info"
                        value="Submit" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
<!-- END OF ELEMENT 5 -->
{% endblock %}
