{% extends 'base.html' %}

{% block head %}
<link href="{{ url_for('static', filename='css/custom-access.css') }}" rel="stylesheet">
<!-- END OF ELEMENT 4 -->
<title>Hackblockchain | Sign In</title>
{% endblock %}

{% block body %}
<!-- ELEMENT 5 SHARED WITH SIGN-UP.HTML// FORM ID IS UNIQUE-->
<form id="signInForm" action="{{ url_for('user_login') }}" method="post">
    <section class="bg hero is-fullheight">
        <div class="hero-body">
            <div class="container pop-up">
                <div class="columns is-multiline has-text-centered">
                    <a href="/" class="close">
                        <img src="{{ url_for('static',
                        filename='img/close.svg') }}" alt="close" />
                    </a>
                    {{ form.csrf_token }}
                    <div class="column is-12 has-text-left">
                        <h2 class="label">Email</h2>
                        {{ form.email(class='input is-medium-desktop',
                        placeholder='hello@domain.com') }}
                        <!-- <input id="emailInput" name="username" class="input is-medium-desktop" type="text" placeholder="hello@domain.com"> -->
                        <span id="emailInputHelp" class="help is-danger is-hidden">This email is invalid</span>
                    </div>
                    <div class="column is-12 has-text-left">
                        <h2 class="label">Password</h2>
                        {{ form.password(class='input is-medium-desktop',
                        placeholder='Password') }}
                        <!-- <input id="passwordInput" name="password" class="input is-medium-desktop" type="password" placeholder="Password"> -->
                        <span id="passwordInputHelp" class="help is-danger is-hidden">Please enter your password</span>
                    </div>
                    <!-- ELEMENT 5b - UNIQUE FORGOT PASSWORD -->
                    <div class="column is-12 has-text-left reset-section">
                        <a id="emailPassword" class="reset-link" onclick="sendEmailPassword()">Forgot password?</a>
                    </div>
                    <!-- END OF ELEMENT 5b-->
                    <!-- ELEMENT 5d - SIGN IN BUTTONS -->
                    <div class="column is-12 is-condensed">
                        <input type="submit" class="button is-info" value="Sign
                        In" />
                    </div>
                    <div class="column is-12 is-condensed">
                      <a href="{{ url_for('create_user') }}" class="button
                          has-text-white dark-blue">New User? Sign Up</a>
                    </div>
                    <!-- END OF ELEMENT 5d -->
                </div>
            </div>
        </div>
    </section>
</form>
<!-- END OF ELEMENT 5 -->
{% endblock %}
