{% extends 'base.html' %}
{% block head %}
<link href="{{ url_for('static', filename='css/custom-description.css') }}" rel="stylesheet">
    <title>Job Description | HackBlockchain</title>
{% endblock %}

{% block body %}
    <div class="bg hero hero-height">
        <div class="hero-head is-hidden-mobile">
            <div class="container has-text-centered">
                <a href="/">
                    <img src="{{ url_for('static',
                    filename='img/blockchain_logo.png') }}">
                </a>
            </div>
        </div>
        <div class="hero-body is-hidden-tablet">
            <div class="columns is-mobile">
                <div class="column is-6 has-text-left">
                    <a class="has-no-border">
                        <div class="icon-set">
                            <div class="icon-label has-text-white">Back to all jobs
                                <span class="icon-left icon-arrow-back-white"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- JOB PAGE SECTION STARTS HERE -->
    <div class="container">
        <div class="columns is-centered is-mobile">
            <div class="column is-10-mobile is-11-tablet is-10-desktop page container-overlay-b">
                <div class="columns is-centered">
                    <div class="column is-12-desktop">
                        <div class="page-inner transition-fade">
                            <div class="columns is-multiline is-mobile has-text-centered">
                                <div class="column is-hidden-mobile is-5 has-text-left">
                                    <a class="has-no-border" onclick="history.go(-1)">
                                        <div class="icon-set">
                                            <div class="icon-label">Back to all jobs
                                                <span class="icon-left icon-arrow-back"></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="column is-12">
                                  <h1>{{ ad.title }}</h1>
                                  <h4>{{ ad.company_name }}</h4>
                                </div>
                                <div class="column is-hidden-mobile is-1-tablet is-3-desktop"></div>
                                <div class="column is-4-mobile is-3-tablet is-2-desktop has-text-centered">
                                    <div class="icon-set">
                                      <div class="icon-label">{{
                                        ad.job_type.value }}
                                            <span class="icon-left icon-briefcase"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-4-mobile is-4-tablet is-2-desktop has-text-centered">
                                    <div class="icon-set">
                                      <div class="icon-label">{{
                                        ad.job_location }}
                                            <span class="icon-left icon-location"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-4-mobile is-3-tablet is-2-desktop has-text-centered">
                                    <div class="icon-set">
                                      <div class="icon-label">{{ ad.since() }}
                                            <span class="icon-left icon-clock"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-hidden-mobile is-1-tablet is-3-desktop"></div>
                            </div>
                            <p>
                              {{ ad.job_description }}
                            </p>
                        </div>
                        <div class="column is-12 has-text-centered email-button-section">
                          <a href="{{ ad.link_to_apply }}" target="Apply" class="button is-info apply-button">APPLY NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <div class="container section-detail">
        <div class="columns has-text-centered is-multiline is-mobile">
            <div class="column is-12 detail-logo">
                <img src="/assets/img/sample_logo.png" alt=" ">
            </div>
            <div class="column is-12">
              <h1 class="detail-name">{{ ad.company_name }}</h1>
            </div>
            <div class="column is-1-mobile is-4-tablet"></div>
            <div class="column is-5-mobile is-2-tablet has-text-centered">
                <div class="icon-set">
                  <div class="icon-label">{{ ad.job_location }}
                        <span class="icon-left icon-location"></span>
                    </div>
                </div>
            </div>
            <div class="column is-5-mobile is-2-tablet has-text-centered">
                <div class="icon-set">
                  <div class="icon-label">{{ ad.company_website }}
                        <span class="icon-left icon-person"></span>
                    </div>
                </div>
            </div>
            <div class="column is-4"></div>
        </div>
    </div>
    <!-- JOB PAGE SECTION ENDS HERE -->

    <!-- ELEMENT-3 (WITH UNIQUE CSS CUSTOM-DESCRIPTION.CSS)  -->
    <!-- EMAIL SUBSCRIBER SECTION STARTS HERE -->
    <div class="container has-text-centered email-label is-hidden-mobile">
        <h2>GET THE LATEST JOBS IN YOUR INBOX</h2>
    </div>
    </div>
    <div class="container email-container ">
        <div class="columns email is-centered ">
            <div class="column is-8-tablet is-7-desktop email-section ">
                <div class="columns has-text-left ">
                    <div class="column is-1 email-label-mobile">
                        <h2 class="is-hidden-tablet">GET THE LATEST JOBS IN YOUR INBOX</h2>
                    </div>
                    <div id="emailSection" class="column is-8 has-text-left email-input-section">
                        <p class="has-icons-left has-icons-right has-no-padding">
                            <input id="emailInput" class="input email-input" type="email" placeholder="YourName@email.com ">
                            <span id="emailInputHelp" class="help is-danger is-hidden">This email is invalid</span>
                        </p>
                    </div>
                    <div class="column is-2 has-text-centered email-button-section">
                        <a id="emailSignUpButton" class="button is-info email-button">
                            <span class="is-hidden-mobile">SIGN UP</span>
                            <span class="is-hidden-tablet">SUBSCRIBE</span>
                        </a>
                    </div>
                    <div class="column is-1 is-hidden-mobile"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- EMAIL SUBSCRIBER SECTION ENDS HERE -->

    <!-- FOOTER SECTION STARTS HERE -->
    <section class="bg hero footer ">
        <div class="hero-head ">
            <div class="container has-text-centered ">
                <a href="/">
                  <img src="{{ url_for('static',
                  filename='img/blockchain_logo.png') }}">
                </a>
            </div>
        </div>
    </section>
    {% endblock %}
