{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom-edit.css') }}">
<title>New Ad | HackBlockchain</title>
{% endblock %}

{% block body %}
<div class="bg hero hero-height">
    <div class="hero-body"></div>
</div>

<!-- ELEMENT-8 -->
<form id="newJobForm" action="{{ url_for('job_form_create') }}" method="post">
  {{ form.csrf_token }}
    <div class="container" style="z-index:1;">
        <!-- ELEMENT 8a -->
        <div class="columns is-centered is-mobile">
            <div class="column is-10-mobile is-11-tablet is-10-desktop page container-overlay">
                <div class="columns is-centered">
                    <div class="column is-12-desktop">
                        <div class="page-inner transition-fade">
                            <div class="columns is-multiline">
                                <div class="column is-12">
                                    <h2>JOB DETAILS</h2>
                                </div>
                                <div class="column is-4">
                                    <h3 class="label is-hidden-mobile">JOB TITLE</h3>
                                    <!-- <input id="titleInput" name="title" class="input is-medium-desktop" type="text" placeholder="Job Title"> -->
                                    {{ form.title(class='input
                                    is-medium-desktop', placeholder='Job Title') }}
                                    {% for error in form.title.errors %}
                                    <span id="titleInputHelp" class="help
                                    is-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="column is-4">
                                    <h3 class="label is-hidden-mobile">JOB LOCATION</h3>
                                    <!-- <input id="jobLocationInput" name="job_location" class="input" type="text" placeholder="Job Location"> -->
                                    {{ form.job_location(class='input',
                                    placeholder='Job Location') }}
                                    {% for error in form.job_location.errors %}
                                    <span id="jobLocationInputHelp" class="help
                                    is-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="column is-4">
                                    <h3 class="label is-hidden-mobile">JOB TYPE</h3>
                                    <div class="select is-full-width">
                                        <!-- <select name="job_status" class="is-full-width"> -->
                                        <!--     <option>Full-time</option> -->
                                        <!--     <option>Part-time</option> -->
                                        <!-- </select> -->
                                        {{ form.job_type(class='is-full-width') }}
                                    </div>
                                </div>
                                <div class="column is-12">
                                    <h3 class="label is-hidden-mobile">JOB DESCRIPTION</h3>
                                    <!-- <textarea id="descriptionInput" name="description" class="textarea" rows="10" placeholder="Job Description"></textarea> -->
                                    {{ form.job_description(class='textarea',
                                    placeholder='Job Description') }}
                                    {% for error in form.job_description.errors
                                    %}
                                    <span id="descriptionInputHelp" class="help
                                    is-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="column is-12">
                                    <h3 class="label is-hidden-mobile">LINK TO APPLY</h3>
                                    <!-- <input id="applyLinkInput" name="application_url" class="input" type="text" placeholder="Link to apply"> -->
                                    {{ form.link_to_apply(class='input',
                                    placeholder='Link to Apply') }}
                                    {% for error in form.link_to_apply.errors %}
                                    <span id="applyLinkInputHelp" class="help
                                    is-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="column is-12 page-spacer">
                                    <h2>COMPANY DETAILS</h2>
                                </div>
                                <div class="column is-3">
                                    <h3 class="label is-hidden-mobile">COMPANY NAME</h3>
                                    <!-- <input id="companyInput" name="company_name" class="input is-normal" type="text" placeholder="Company Name"> -->
                                    {{ form.company_name(class='input
                                    is-normal', placeholder='Company Name') }}
                                    {% for error in form.company_name.errors %}
                                    <span id="companyInputHelp" class="help
                                    is-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="column is-3 column-logo">
                                  <!-- put remote here -->
                                  {{ form.remote_ok() }}
                                </div>
                                <div class="column is-12">
                                    <h3 class="label is-hidden-mobile">COMPANY WEBSITE</h3>
                                    <!-- <input id="websiteInput" name="company_url" class="input" type="text" placeholder="Company Website"> -->
                                    {{ form.company_website(class='input',
                                    placeholder='Company Website') }}
                                    {% for error in form.company_website.errors
                                    %}
                                    <span id="websiteInputHelp" class="help
                                    is-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="column is-12">
                                  <input type="submit" value="POST" />
                                  <a href="/">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF ELEMENT 8a -->
    </div>
</form>
<!-- END OF ELEMENT-8 -->

<!-- ELEMENT-10 FOOTER SECTION STARTS HERE -->
<section class="bg hero footer ">
    <div class="hero-head ">
        <div class="container has-text-centered ">
            <img src="{{ url_for('static', filename='img/blockchain_logo.png')
            }}" />
        </div>
    </div>
</section>
<!-- END OF ELEMENT-10 -->

<!-- MarkDown -->
<script src="{{ url_for('static', filename='js/marked.min.js') }}">
{% endblock %}
