<!DOCTYPE html>
<html>

<head>
    <!-- ELEMENT 4 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link href="/assets/css/bulma.css" rel="stylesheet">
    <link href="/assets/css/custom-access.css" rel="stylesheet">
    <!-- END OF ELEMENT 4 -->

    <title>Blockchain | Confirmation</title>
</head>

<body>
    <!-- ELEMENT 6 - SHARED WITH JOB_404.HTML -->
    <section class="bg hero is-fullheight">
        <div class="hero-body">
            <div class="container pop-up">
                <div class="columns is-multiline has-text-centered">
                    <!-- ELEMENT 6b -->
                    <a href="/user/" class="close">
                        <img src="/assets/img/close.svg" alt="">
                    </a>

                    <div class="column is-12 is-condensed">
                        <img class="icon-confirm" src="/assets/img/sample_logo.png" alt="" />
                    </div>
                    <div class="column is-12">
                        <h1>SUCCESS!</h1>
                        <h3>Your job has been posted.</h3>
                    </div>
                    <div class="column is-12 is-condensed">
                        <a href="/ad/job_description.html?job=999-999" class="button is-info is-outlined has-no-border">VIEW JOB</a>
                    </div>
                    <div class="column is-12 is-condensed">
                        <a href="/user/new.html" class="button is-info">POST ANOTHER</a>
                    </div>
                    <!-- END OF ELEMENT 6b -->
                </div>
            </div>
        </div>
    </section>
    <!-- END OF ELEMENT 6 -->
</body>

</html>