{% extends 'base.html' %}

{% block head %}
    <!-- UNIQUE PER PAGE -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <title>Dashboard | HackBlockchain</title>
    <!-- UNIQUE END -->
{% endblock %}

{% block body %}
    <!-- UNIQUE TOP SECTION BEGINS HERE -->
<section class="bg hero">
    <div class="hero-head">
        <div class="container has-text-centered-mobile" style="z-index:1">
            <div class="columns is-mobile is-multiline hero-nav">
                <div class="column">
                  <a href="/">
                    <img src="{{ url_for('static',
                    filename='img/blockchain_logo.png') }}" alt="Logo">
                  </a>
                </div>
                <div class="column is-4-tablet is-4-desktop is-1-fullscreen">
                    <div class="columns is-mobile is-vcentered">
                        <div class="column is-5">
                          <p>
                          {{ email }}
                          </p>
                        </div>
                        <div class="column is-4">
                            <a href="/job/new" class="button is-info full-search">POST A JOB</a>
                        </div>
                        <div class="column is-3">
                            <form id="signOut" action="/user/logout" method="post">
                                <input name="user" value="logout" type="hidden" />
                                <input type="submit" class="button button-transparent full-search" value="SIGN OUT" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TOP SECTION ENDS HERE -->


<!-- UNIQUE ACTIVE POSTING SECTION STARTS HERE -->
<div class="container has-text-centered posting-label">
    <h2>Active Postings</h2>
</div>
<div class="container post-container section-full-height-b transition-fade">
  {% if ads|length == 0 %}
  <div class="columns">
    <div class="column has-text-centered">
      <p>No postings</p>
    </div>
  </div>
  {% endif %}
  {% for ad in ads %}
    <div class="columns post-b is-centered">
        <div class="column is-11-tablet is-10-widescreen posting-section">
            <div class="columns">
                <div class="column is-3-tablet is-4-desktop is-vertical-centered has-text-left-tablet has-text-centered posting-padding-left">
                  <h1>{{ ad.title }}</h1>
                </div>
                <div class="column is-4-tablet is-4-desktop is-vertical-centered">
                    <div class="columns is-variable is-1 post-icons is-mobile is-multiline">
                        <div class="column is-6-tablet is-12-mobile is-6-fullhd">
                            <div class="icon-set">
                                <div class="icon-left icon-clock"></div>
                                <div class="data-right">{{ ad.since() }}</div>
                            </div>
                        </div>
                        <div class="column is-6-tablet is-12-mobile is-6-full-hd">
                            <div class="icon-set">
                                <div class="icon-left icon-hourglass"></div>
                                <div class="data-right">Expiring in 8 days</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-5-tablet is-4-desktop is-vertical-centered mobile-job-title active-posting-title">
                    <div class="columns has-text-centered is-mobile">

                        <div class="column">
                          <form id="goToJobForm" action="{{
                            url_for('show_job', job_id=ad.id) }}" method="get">
                                <input type="submit" class="button is-info full-search" value="VIEW" />
                            </form>

                        </div>
                        <div class="column">
                          <form id="goToEditForm" action="{{
                            url_for('edit_job', job_id=ad.id) }}" method="get">
                                <input type="submit" class="button is-info full-search" value="EDIT" />
                            </form>
                        </div>
                        <div class="column">
                          <form id="deleteJobForm" action="{{
                            url_for('delete_job', job_id=ad.id) }}" method="post">
                                <input type="submit" class="button is-outlined is-flat is-danger full-search" value="DELETE" />
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- END LOOP HERE -->

</div>
<!-- ACTIVE POSTING SECTION ENDS HERE -->

{% endblock %}
